<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KONTACT</title>
     <link rel="stylesheet" href="static/style.css">
</head>
<body>
<h1>Witaj na mojej stronie domowej</h1>
<img src="https://miro.medium.com/fit/c/1360/1360/0*2sK4kWAg0isBrzVq.jpg"
      style="width:180px;height:180px;">

<h2>Kontakt</h2>
<ul>
<li> email:superprogramist@gmail.com </li>
<li> telefon:5049204803 </li>
</ul>
<form action="" method="POST">
            <textarea id="w3review" name="w3review" rows="4" cols="50">
            </textarea>
            <input type="submit"/>
</form>

</body>
</html>